@page
@model RazorPages25.Pages.Alumnos.DetailsModel
@{
	var photo = "~/images/" + (Model.alumno.Foto ?? "noImage.jpg");
}
<div class="col-sm-8">
	@await Component.InvokeAsync("AlumnosCurso", new{ curso = Model.alumno.CursoID})
</div>

<div class="card m-3" style="min-width:10rem; max-width:100rem; position:relative">
	<div class="card-header text-center">
		<h3>@Model.alumno.Nombre</h3>
	</div>
	<div class="card-body text-center">
		<img class="card-img-top imageThumbail" asp-append-version="true" src="@photo" />
		<h4>Alumno ID : @Model.alumno.Id</h4>
		<h4>E-mail : @Model.alumno.Email</h4>
		<h4>Curso : @Model.alumno.CursoID</h4>
	</div>
	
</div>

